/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
:root {
  font-size: 15px;
  --Very_Dark_Magenta: hsl(300, 43%, 22%);
  --Soft_Pink: hsl(333, 80%, 67%);
  --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
  --Light_Grayish_Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--White);
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  margin: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 350px;
  height: 376px;
  position: relative;
  border-radius: 10px;
  margin: 25px;
  background-color: var(--Very_Dark_Magenta);
}

.top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
}

.top-text > h1{
  font-size: 3rem;
  color: var(--Very_Dark_Magenta);
}

.top-text{
  padding: 10px;
}

.bottom{
  display: flex;
  flex-wrap: wrap;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.rating {
  background-color: #f7f2f7;
  padding: 20px;
  margin: 10px;
  border-radius: 0.5em;
  color: #502050;
  font-weight: 700;
  width: 300px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
}

.stars > i {
  color: goldenrod;
}

.rating-1 {
  margin-right: 80px;
}

.rating-2 {
  margin-right: 40px;
}
