/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root{
    font-size: 15px;
    --Very_Dark_Magenta: hsl(300, 43%, 22%);
    --Soft_Pink: hsl(333, 80%, 67%);
    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

@media (max-width: 375px) { /*breakpoint*/

}
